<H1>Geocoding Proxy Service</H1>

<p>
Mini project to implement a geocoding proxy with a failover mechanism for 3rd party service providers, using Google Maps API as primary and HERE API as secundary.
</p>

<H2>Search Some Addresses</H2>
<ul>
	<li><a href="/find/1600 Amphitheatre Parkway, Mountain View, CA">/find/1600 Amphitheatre Parkway, Mountain View, CA</a></li>
	<li><a href="/find/Toledo Street">/find/Toledo Street</a></li>
	<li><a href="/find/braaaa">/find/braaaa</a></li>
</ul>

<footer>Alberto Naranjo</footer>

